---
layout: null
permalink: manifest.json
---
{
	"version": "{{ site.data.app.version | default: site.version }}",
	"name": "{{ site.data.app.name | default: site.title }}",
	"short_name": "{{ site.data.app.shortName | default: site.title}}",
	"description": "{{ site.data.app.description | default: site.description }}",
	"start_url": "{{ page.url | replace: 'manifest.json', '' }}",
	"lang": "{{ site.lang }}",
	"display": "{{ site.data.app.display | default: 'standalone' }}",
	"theme_color": "{{ site.data.app.theme.color | default: '#185a93' }}",
	"background_color": "{{ site.data.app.theme.background | default: '#FEFEFE' }}",
	"icons": {{ site.data.app.icons | jsonify }},
	"screenshots": {{ site.data.app.screenshots | jsonify }},
	"features": {{ site.data.app.features | jsonify }},
	"related_applications":  {{ site.data.app.related_applications | jsonify }},
 	"categories": {{ site.data.app.categories | jsonify }}
}
