<address itemprop="{{ include.itemprop | default: 'address' }}" itemtype="https://schema.org/PostalAddress" itemscope=""{% if include.hidden %} hidden=""{% endif %}>
	{% if include.address.name %}<div itemprop="name">{{ include.name }}</div>{% endif %}
	{% if include.address.streetAddress %}<div itemprop="streetAddress">{{ include.address.streetAddress }}</div>{% endif %}
	{% if include.address.postOfficeBoxNumber %}<div itemprop="postOfficeBoxNumber">PO Box {{ include.address.postOfficeBoxNumber | replace: 'PO BOx', '' }}</div>{% endif %}
	<div>
		<span itemprop="addressLocality">{{ include.address.addressLocality }}</span>,
		<span itemprop="addressRegion">{{ include.address.addressRegion | default: 'CA' }}</span>
		<span itemprop="postalCode">{{ include.address.postalCode }}</span>
		<meta itemprop="addressCountry" content="{{ include.address.addressCountry | default: 'US' }}"/>
	</div>
</address>
