<form name="{{ include.name | default: 'contact' }}" method="{{ include.method | default: 'GET' }}" action="{{ include.action | default: page.url }}" enctype="{{ include.enctype | default: 'application/x-www-form-urlencoded' }}" is="share-target" id="{{ include.id | default: 'contact-form' }}" class="card shadow align-left" data-netlify="true" netlify-honeypot="{{ include.honeypot | default: 'check' }}">
	<fieldset class="no-border align-left">
		{% if include.legend %}<legend>{{ include.legend }}</legend>{% endif %}
		<div class="form-group">
			<label for="name" class="input-label block required">
				<b>Name</b>
			</label>
			<input type="text" name="name" id="name" class="input" autocomplete="name" placeholder="Firstname Lastname" required="" />
		</div>
		<div class="form-group">
			<label for="email" class="input-label block required">
				<b>Email</b>
			</label>
			<input type="email" name="email" id="email" class="input" autocomplete="email" placeholder="user@example.com" required="" />
		</div>
		{% if include.phone %}<div class="form-group">
			<label for="phone" class="input-label block">
				<b>Phone</b>
			</label>
			<input type="tel" name="phone" id="phone" class="input" autocomplete="tel" placeholder="+1-555-555-5555" pattern="(\+?(\d{1,3})[\-\.\s]?)?((\d{3}[\-\.\s]?)|(\(\d{3}\)\s?))\d{3}[\-\.\s]?\d{4}" />
		</div>{% endif %}
		{% if include.subject %}<div class="form-group">
			<label for="subject" class="input-label block required">
				<b>Subject</b>
			</label>
			<input type="text" name="subject" id="subject" class="input" data-share-field="title" placeholder="Message Subject" list="subject-suggestions" autocomplete="off" autocapitalize="words" required="" />
			{% if include.suggestedSubjects %}
				<datalist id="subject-suggestions">
				{% for subject in include.suggestedSubjects %}<option value="{{ subject }}" />{% endfor %}
			</datalist>{% endif %}
		</div>{% endif %}
		<div class="form-group">
			<label for="body" class="input-label block required">
				<b>Message</b>
			</label>
			<textarea name="body" id="body" class="input" data-share-field="text" placeholder="Message body" autocomplete="off" cols="8" spellcheck="true" autocapitalize="sentences" required=""></textarea>
		</div>
		<div class="form-group" hidden="">
			<label for="{{ include.honeypot | default: 'check' }}" class="input-label">Agree</label>
			<input type="checkbox" name="{{ include.honeypot | default: 'check' }}" id="{{ include.honeypot | default: 'check' }}" class="input" />
		</div>
		{% if include.reCaptcha %}<div data-netlify-recaptcha="true"></div>{% endif %}
	</fieldset>
	<br />
	<div class="align-left">
		<button type="submit" class="btn btn-accept btn-wide">
			{% include icon.html icon="check" %}
			<span>Send</span>
		</button>
	</div>
</form>
