<footer id="footer">
	<div class="flex row wrap space-around footer-links">
		{% if site.data.links.footer %}
			<div class="inline-block footer-links">
				{% for link in site.data.links.footer %}
					<a href="{{ link.href }}" class="block" target="{{ link.target | default: '_self' }}" rel="{{ link.rel | join: ' ' }}">
						{% if link.icon %}{% include icon.html icon=link.icon fill="currentColor" height="24" width="24" %}{% endif %}
						<span>{{ link.label }}</span>
					</a>
				{% endfor %}
			</div>
		{% endif %}{% if site.data.social %}
			<div class="inline-block footer-links">
				{% if site.data.social.facebook %}
					<a class="block" href="{{ site.data.social.facebook }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include icon.html icon="facebook" class="social-icon" fill="currentColor" width="20" height="20" %}
						<span>Facebook</span>
					</a>
				{% endif %}{% if site.data.social.twitter %}
					<a class="block" href="{{ site.data.social.twitter }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include icon.html icon="twitter" class="social-icon" fill="currentColor" width="20" height="20" %}
						<span>Twitter</span>
					</a>
				{% endif %}{% if site.data.social.instagram %}
					<a class="block" href="{{ site.data.social.instagram }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						<img src="https://cdn.kernvalley.us/img/logos/instagram.svg" class="social-icon" width="20" height="20" loading="lazy" decoding="async" crossorigin="anonymous" referrerpolicy="no-referrer" alt="" />
						<span>Instagram</span>
					</a>
				{% endif %}{% if site.data.social.linkedIn %}
					<a class="block" href="{{ site.data.social.linkedIn }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include icon.html icon="linkedin" class="icon social-icon" height="20" width="20" %}
						<span>LinkedIn</span>
					</a>
				{% endif %}{% if site.data.social.youtube %}
					<a class="block" href="{{ site.data.social.youtube }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include icon.html icon="youtube" class="icon social-icon" height="20" width="20"%}
						<span>YouTube</span>
					</a>
				{% endif %}{% if site.data.social.yelp %}
					<a class="block" href="{{ site.data.social.yelp }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include icon.html icon="yelp" class="icon social-icon" height="20" width="20"%}
						<span>Yelp</span>
					</a>
				{% endif %}{% if site.data.social.tripAdvisor %}
					<a class="block" href="{{ site.data.social.tripAdvisor }}" target="_blank" rel="noopener noreferrer external" itemprop="sameAs">
						{% include icon.html icon="tripadvisor" class="icon social-icon" height="20" width="20"%}
						<span>TripAdvisor</span>
					</a>
				{% endif %}
			</div>
		{% endif %}{% if site.repository %}
			<div class="inline-block">
				<a class="block" href="https://github.com/{{ site.repository.username }}/" target="_blank" rel="noopener noreferrer external">
					{% include icon.html icon="mark-github" class="current-color icon social-icon" %}
					<span>GitHub Profile</span>
				</a>
				<a class="block" href="https://github.com/{{ site.repository.username }}/{{ site.repository.project }}" target="_blank" rel="noopener noreferrer external">
					{% include icon.html icon="repo" class="current-color icon social-icon" %}
					<span>GitHub Repo</span>
				</a>
				<a class="block" href="https://github.com/{{ site.repository.username }}/{{ site.repository.project }}/issues" target="_blank" rel="noopener noreferrer external">
					{% include icon.html icon="issue-opened" class="current-color icon social-icon" %}
					<span>Report a Problem</span>
				</a>
			</div>
		{% endif %}
	</div>{% assign app = site.data.app.related_applications | find_exp: "app", "app.platform != 'webapp'" %}
	{% if app %}
		<hr />
		<app-stores id="store-list" class="flex row wrap app-stores"></app-stores>
	{% endif %}
	<hr />
	<div class="copyright flex wrap space-evenly">
		<github-user user="{{ site.repository.username }}" loading="lazy" class="custom-element">
			<h3 slot="header" class="center if-defined">Created By</h3>
			<div slot="footer">
				<span>&copy;</span>
				<time itemprop="copyrightYear">{{ 'now' | date: '%Y' }}</time>
				<span itemprop="copyrightHolder" itemtype="https://schema.org/{{ site.data.publisher['@type'] | default: 'Organization' }}" itemscope="">
					<a href="{{ site.data.publisher.url }}" target="_blank" rel="external noopener noreferrer" itemprop="url">
						<span itemprop="name">{{ site.data.publisher.name }}</span>
					</a>
				</span>
			</div>
		</github-user>
		{% include keep-kern-clean.html %}
	</div>
</footer>
