<head>
	<base href="/" />
	<meta charset="{{ site.charset }}" />
	<meta name="viewport" content="{{ page.viewport | default: site.viewport }}" />
	<meta name="robots" content="{{ page.robots | default: site.robots }}" />
	<meta name="description" content="{{ page.description }}" />
	<meta itemprop="description" content="{{ page.description }}" />
	<meta name="keywords" content="{{ page.tags | join: ', ' }}" />
	<meta itemprop="keywords" content="{{ page.tags | join: ', ' }}" />
	<meta name="referrer" content="{{ page.referrer | default: site.referrer }}"/>
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	{% if page.thumbnail.url $}
		<meta itemprop="thumbnailUrl" content="{{ page.thumbnail.url }}" />
		<meta property="og:image" content="{{ page.thumbnail.url }}" />
		<meta name="twitter:image" content="{{ page.thumbnail.url }}" />
	{% elsif page.imgur %}
		{% capture hash %}{{ page.imgur | replace: 'https://i.imgur.com/', '' | replace: 'https://imgur.com/', '' | replace: '.png', '' | replace: '.jpg', '' }}{% endcapture %}
		<meta itemprop="thumbnailUrl" content="{{ hash | prepend: 'https://i.imgur.com/' | append: 'l.png' }}" />
		<meta property="og:image" content="{{ hash | prepend: 'https://i.imgur.com/' | append: 'l.png' }}" />
		<meta name="twitter:image" content="{{ hash | prepend: 'https://i.imgur.com/' | append: 'l.png' }}" />
	{% elsif page.image %}
		<meta itemprop="thumbnailUrl" content="{{ page.image }}" />
		<meta property="og:image" content="{{ page.image }}" />
		<meta name="twitter:image" content="{{ page.image }}" />
	{% elsif site.data.app.screenshots %}
		{% for screenshot in site.data.app.screenshots %}
			<meta itemprop="thumbnailUrl" content="{{ screenshot.src }}" />
			<meta property="og:image" content="{{ screenshot.src }}" />
			<meta name="twitter:image" content="{{ screenshot.src }}" />
		{% endfor %}
	{% endif %}
	<!-- Social data -->
	<!-- Facebook | OpenGraph -->
	<meta property="og:type" content="{{ page.og-type | default: layout.og-type }}" />
	<meta property="og:title" content="{{ page.title | default: 'Home' }} | {{ site.title }}" />
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:keywords" content="{{ page.tags | join: ', ' }}" />
	{% if site.facebook-id %}
		<meta property="og:app_id" content="{{ site.facebook-id }}" />
	{% endif %}
	{% if site.facebook-site-name %}
		<meta name="og:site_name" content="{{ site.facebook-site-name }}" />
	{% endif %}
	<!-- /Facebook | OpenGraph -->
	<!-- Twitter -->
	<meta name="twitter:card" content="{{ page.twitter_card | default: 'summary' }}" />
	{% if page.twitter_creator %}
		<meta name="twitter:creator" content="{{ page.twitter_creator }}" />
	{% endif %}
	<meta name="twitter:description" content="{{ page.description }}" />
	<!-- /Twitter -->
	<!-- /Social data -->
	<meta name="msapplication-TileColor" content="{{ site.data.app.theme.color | default: '#528ff9' }}" />
	<meta name="msapplication-config" content="{{ site.tiles-config }}" />
	<meta name="apple-mobile-web-app-status-bar-style" content="{{ page.theme-color | default: site.data.app.theme.color }}" />
	<meta name="theme-color" content="{{ page.theme-color | default: site.data.app.theme.color }}" />
	{% if site.webmaster-verifications.google %}
		<meta name="google-site-verification" content="{{ site.webmaster-verifications.google }}" />
	{% endif %}
	{% if site.webmaster-verifications.bing %}
		<meta name="msvalidate.01" content="{{ site.webmaster-verifications.bing }}" />
	{% endif %}
	{% if page.ads and site.ad-sense %}
		{% include adsense.html %}
	{% endif %}
	<meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
	<title itemprop="headline">{{ page.title | default: 'Home' }} | {{ site.title }}</title>
	{% if site.data.scripts %}{% for script in site.data.scripts[jekyll.environment] %}
		{% include script.html src=script.src type=script.type async=script.async defer=script.defer crossorigin=script.crossorigin integrity=script.integrity nomodule=script.nomodule %}
	{% endfor %}{% endif %}
	{% if layout.scripts %}{% for script in layout.scripts %}
		{% include script.html src=script.src type=script.type async=script.async defer=script.defer crossorigin=script.crossorigin integrity=script.integrity nomodule=script.nomodule %}
	{% endfor %}{% endif %}
	{% if page.scripts %}{% for script in page.scripts %}
		{% include script.html src=script.src type=script.type async=script.async defer=script.defer crossorigin=script.crossorigin integrity=script.integrity nomodule=script.nomodule %}
	{% endfor %}{% endif %}
	{% if site.manifest %}
		<link rel="manifest" href="{{ site.manifest }}" />
	{% endif %}
	<link rel="license" href="/LICENSE" />
	{% for icon in site.data.app.icons %}
		<link rel="{{ icon.rel | default: 'icon' }}" href="{{ icon.src }}" type="{{ icon.type }}" sizes="{{ icon.sizes }}">
	{% endfor %}
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="{{ site.data.app.theme.color | default: '#528ff9' }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
	{% if site.data.preload %}{% for link in site.data.preload %}
		<link rel="preload" href="{{ link.href }}" as="{{ link.as | default: 'fetch' }}" type="{{ link.type }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" integrity="{{ link.integrity }}" importance="{{ link.importance | default: 'auto' }}" />
	{% endfor %}{% endif %}
	{% if layout.preload %}{% for link in layout.preload %}
		<link rel="preload" href="{{ link.href }}" as="{{ link.as | default: 'fetch' }}" type="{{ link.type }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}"  importance="{{ link.importance | default: 'auto' }}" />
	{% endfor %}{% endif %}
	{% if page.preload %}{% for link in page.preload %}
		<link rel="preload" href="{{ link.href }}" as="{{ link.as | default: 'fetch' }}" type="{{ link.type }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" integrity="{{ link.integrity }}" importance="{{ link.importance | default: 'auto' }}" />
	{% endfor %}{% endif %}
	{% if site.data.prefetch %}{% for link in site.data.prefetch %}
		<link rel="prefetch" href="{{ link.href }}" as="{{ link.as | default: 'fetch' }}" type="{{ link.type }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" integrity="{{ link.integrity }}" importance="{{ link.importance | default: 'auto' }}" />
	{% endfor %}{% endif %}
	{% if layout.prefetch %}{% for link in layout.prefetch %}
		<link rel="prefetch" href="{{ link.href }}" as="{{ link.as | default: 'fetch' }}" type="{{ link.type }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}"  importance="{{ link.importance | default: 'auto' }}" />
	{% endfor %}{% endif %}
	{% if page.prefetch %}{% for link in page.prefetch %}
		<link rel="prefetch" href="{{ link.href }}" as="{{ link.as | default: 'fetch' }}" type="{{ link.type }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" integrity="{{ link.integrity }}" importance="{{ link.importance | default: 'auto' }}" />
	{% endfor %}{% endif %}
	{% if site.data.dns-prefetch %}{% for link in site.data.dns-prefetch %}
		<link rel="dns-prefetch" href="{{ link.href }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" />
	{% endfor %}{% endif %}
	{% if layout.dns-prefetch %}{% for link in layout.dns-prefetch %}
		<link rel="dns-prefetch" href="{{ link.href }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" />
	{% endfor %}{% endif %}
	{% if page.dns-prefetch %}{% for link in page.dns-prefetch %}
		<link rel="dns-prefetch" href="{{ link.href }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" />
	{% endfor %}{% endif %}
	{% if site.data.preconnect %}{% for link in site.data.preconnect %}
		<link rel="preconnect" href="{{ link.href }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" />
	{% endfor %}{% endif %}
	{% if layout.preconnect %}{% for link in layout.dns-prefetch %}
		<link rel="preconnect" href="{{ link.href }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" />
	{% endfor %}{% endif %}
	{% if page.preconnect %}{% for link in page.preconnect %}
		<link rel="preconnect" href="{{ link.href }}" crossorigin="{{ link.crossorigin | default: 'anonymous' }}" referrerpolicy="{{ link.referrerPolicy | default: 'origin-when-crossorigin' }}" />
	{% endfor %}{% endif %}
	{% if page.prerender %}{% for link in page.prerender %}
			<link rel="prerender" href="{{ link.href }}" />
	{% endfor %}{% endif %}
	{% if site.data.stylesheets %}{% for stylesheet in site.data.stylesheets[jekyll.environment] %}
		{% include stylesheet.html rel=stylesheet.rel href=stylesheet.href title=stylesheet.title crossorigin=stylesheet.crossorigin referrerpolicy=stylesheet.referrerpolicy integrity=stylesheet.integrity %}
	{% endfor %}{% endif %}
	{% if layout.stylesheets %}{% for stylesheet in layout.stylesheets %}
		{% include stylesheet.html rel=stylesheet.rel href=stylesheet.href title=stylesheet.title crossorigin=stylesheet.crossorigin referrerpolicy=stylesheet.referrerpolicy integrity=stylesheet.integrity %}
	{% endfor %}{% endif %}
	{% if page.stylesheets %}{% for stylesheet in page.stylesheets %}
		{% include stylesheet.html rel=stylesheet.rel href=stylesheet.href title=stylesheet.title crossorigin=stylesheet.crossorigin referrerpolicy=stylesheet.referrerpolicy integrity=stylesheet.integrity %}
	{% endfor %}{% endif %}
	{% if site.feed %}<link rel="alternate" href="{{ site.feed.url }}" type="{{ site.feed.type | default: 'application/rss+xml' }}" title="{{ site.feed.title | default: 'Feed' }}" />{% endif %}
	{% if page.feed %}<link rel="alternate" href="{{ page.feed.url }}" type="{{ page.feed.type | default: 'application/rss+xml' }}" title="{{ page.feed.title | default: 'Page Feed' }}" />{% endif %}
</head>
