<nav id="nav" class="sticky top shadow background-accent color-alt z-3 flex row nowrap overflow-x-auto">
	<button type="button" is="app-list" id="app-menu" class="btn nav-btn" source="{{ site.data.ads.source | default: site.title | escape }}" title="Show KRV Apps Menu" hidden="">
		{% include icon.html icon="apps" height="22" width="22" fill="currentColor" %}
	</button>
	{% for link in site.data.links.nav %}{% unless link.disabled == true %}
		<a href="{{ link.href }}" class="nav-link center inline-block{% if link.href == page.url %} active no-pointer-events{% endif %}" title="{{ link.label | escape }}" rel="{{ link.rel | join: ' ' }}" target="{{ link.target | default: '_self' }}">
			{% if link.icon %}{% include icon.html icon=link.icon fill="currentColor" width="22" height="22" %}<br />{% endif %}
			<span class="nav-link-label">{{ link.label }}</span>
		</a>
	{% endunless %}{% endfor %}
	<span class="grow-4"></span>
	{% if site.service_worker %}
		<button type="button" is="pwa-install" id="install-btn" class="btn nav-btn" src="{{ site.service_worker }}" scope="/" title="Install Web App" reloadonupdate="" hidden="">
			{% include icon.html height="22" width="22" fill="currentColor" icon="system-software-install" %}
			<span class="mobile-hidden">Install</span>
		</button>
	{% endif %}
</nav>
