<button
	{% if include.title %}title="{{ include.title | escape }}"{% endif %}
	{% if include.url %}url="{{ include.url }}"{% endif %}
	{% if include.text %}text="{{ include.text | strip_newlines | strip_html | escape }}"{% endif %}
	class="{{ include.position | default: 'fixed' }} btn btn-primary round shadow-dark color-alt border-hidden background-accent z-top"
	aria-label="Share Page"
	is="share-button"
	source="{{ include.source | default: site.title | slugify }}"
	{% if include.medium %}medium="{{ include.medium }}"{% endif %}
	{% if include.content %}content="{{ include.content }}"{% endif %}
	hidden=""
>{% include icon.html icon='public-share' %}</button>
